// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #82735C; //Dark gray Navbar
$yellow: #FE9920; //mustard
$orange: #01295F; //dark blue
$green: #437F97; //Light blue
$gray: #222222; //Dark grey text
$light-gray: #E3E7D3; //background
