<div class="footer">

    <h2 class="text-center"> Worlds Away online Bookshelves</h2>
  <h4 class="text-center"><ul>
    <li>Showcase your bookhelf to the world  </li>
    <li>See what people think of your favourite books</li>
    <li>See what like minded people are reading</li>
    <li>Find the next book that you should be reading</li>
  </ul>
</h4>

<h4 class="text-center">This is a test sight and is currently in production. Please feel free to try it out but be patient. Any comments or suggestions let me know at robmitchell@email.com.</h4>

</div>
