<div class="footer">
  <div class="row">
    <h2 class="text-center"> Worlds Away on-line Bookshelves</h2>
  <h4 class="text-center"><ul>

    <li>See who else loves you favourite books</li>
    <li>See what like minded people are reading</li>
    <li>Find the next book that you should read</li>
  </ul>
</h4>
  </div>
</div>
