<div class="footer">

    <h2 class="text-center"> Worlds Away online Bookshelves</h2>
  <h4 class="text-center"><ul>

    <li>See who else loves you favourite books</li>
    <li>See what like minded people are reading</li>
    <li>Find the next book that you should read</li>
  </ul>
</h4>

<h4 class="text-center">This is a test sight and is currently in production. Please feel free to try it out but be patient as as I'm still working on it. Any comments or suggestions let me know at robmitchell@email.com.</h4>

</div>
